<h2>Update Task</h2>

<script>
 window.timeblocks_path = "<%= time_block_path(@conn, :index) %>";
 window.current_user_id = "<%= @current_user.id %>";
</script>

<%= render "form_assignee.html", Map.put(assigns, :action, task_path(@conn, :update, @task)) %>

<span><%= link "Back", to: task_path(@conn, :index) %></span>
